<ion-view view-title="新料" on-swipe-right="goForward()" on-swipe-left="goBack()">
  <ion-content>
    <div class="list">
      <ion-item class="item-text-wrap card item-center" ng-repeat="article in articles" href="#/tab/recent-posts/{{article.id}}">
        <h1 class="item item-divider">
          {{article.date}} &nbsp {{article.name | formatPostType}}
        </h1>
        <excerpt value={{article.excerpt}}></excerpt>
        <img class="full-image" src="{{article.pic}}">
      </ion-item>
    </div>

     <!-- ng-if="moreDataCanBeLoaded" -->
    <ion-infinite-scroll
      on-infinite="loadMoreData()"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
